{%extends 'base.html'%}
{% block title %}
Active Posts
{% endblock %}

{% block content %}

<table id="data" class="table table-striped bg-dark table-dark">
    <thead>
    <tr>
        <th>Author</th>
        <th>Total Words</th>
        <th>Total Images</th>
        <th>Title</th>
        <th>Tags</th>
        <th>Post Link</th>
        <th>Report</th>


    </tr>
    </thead>
    <tbody>
    {% for item in items_rows %}
    <tr>
        <td>{{ item[items_cols.author] }}</td>
        <td>{{ item[items_cols.word_count] }}</td>
        <td>{{ string_to_json(item[items_cols.json_metadata]).image|length }}</td>
        <td>{{ item[items_cols.title] }}</td>
        <td>{{ string_to_json(item[items_cols.json_metadata]).tags }}</td>
        <td>
            <a href="https://www.steemit.com/hive-129948/@{{ item[items_cols.author] }}/{{ item[items_cols.permlink]}}"
               target="_blank">Post
                Link</a></td>
        <td>
<button type="button" onclick="window.location.href='{{ url_for( 'author_report_page', username=item[items_cols.author]) }}';">Get</button>
        </td>


    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          {orderable: true, searchable: false},
          {orderable: true, searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: true},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false}],

      });
    });


</script>
{% endblock %}
