{% extends 'base.html' %}
{% block title %}
Active Posts
{% endblock %}

{% block content %}
<table class="table table-hover table-dark" id="data" class="table table-striped">
    <thead>
    <tr>
        <th>Author</th>
        <th>Post Link</th>
        <th>Words Count</th>
        <th>Post Title</th>
    </tr>
    </thead>

    <tbody>
    {% for item in items_rows %}
    <tr>
        <td>{{ item[items_cols.author] }}</td>
        <td><a href="https://www.steemit.com/hive-172186/@{{ item[items_cols.author] }}/{{ item[items_cols.permlink] }}">Post Link</a> </td>
        <td>{{ item[items_cols.word_count] }}</td>
        <td>{{ item[items_cols.title] }}</td>
        <td>
            <button class="button button-outline btn-infi">Visit</button>
            <button class="button button-outline btn-success">Vote</button>
        </td>
    </tr>
    {% endfor %}

    </tbody>


</table>
{% endblock %}


{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          {orderable: false,searchable: false},
          {orderable: true, searchable: false},
          {orderable: false, searchable: false},
          null],
      });
    });
  </script>
{% endblock %}